*{
    padding: 0;
    margin: 0;
}


body{
    background-color: rgb(255, 253, 253);
    font-family: Roboto, sans-serif;
    
}

section{
    margin-top: 40px;
}

.navbar{
    background-color: rgb(210, 208, 208);
    width: 400px;
    border-bottom: 1px solid;
    height: 50%;
    position: fixed; 
    overflow-x: auto;

}
.navbar li{
    color: #4d4e53;
    border-bottom: 1px solid black;
    list-style: none;
    font-size: 20px;
    
    
}
.narbar a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    transition: text-indent 0.3s ease-in-out;
 
}
.navbar a:hover{
    font-weight: 500;
    text-indent: 5px;
}



p{
    margin: 10px;
}

.main-part{
    margin: 0 20px;
    margin-left: 450px;
    
}

.codes{
    background-color: rgb(203, 201, 199);
    

}

.move{
    margin-left: 25px;
}
.type{
    color: red;
}

header{
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
}

footer{
    padding: 30px;
    text-align: center;
    color: gray  ;
}